<%- include("header"); -%>

    <h1>About Page</h1>
    <p>This is an about page used to create an EJS layout. I notice that it works similar to php's include method, which makes it easy to reuse the same chunks of code across multiple pages.</p>

<%- include ("footer"); -%>
