<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: monospace;
        }
    </style>
</head>
<body>

<%  if (kindOfDay === "Saturday" || kindOfDay === "Sunday") {  %>
        <h1 style="color: dodgerblue"><%= kindOfDay %> List</h1>
<%  } else {  %>
        <h1 style="color: steelblue"><%= kindOfDay %> List</h1>
<%  }  %>

</body>
</html>
